<p id="notice"><%= notice %></p>

<p>
  <strong>Food:</strong>
  <%= @nutrition_datum.food_id %>
</p>

<p>
  <strong>Source:</strong>
  <%= @nutrition_datum.source %>
</p>

<p>
  <strong>Food item:</strong>
  <%= @nutrition_datum.food_item %>
</p>

<p>
  <strong>Edible part percentage:</strong>
  <%= @nutrition_datum.edible_part_percentage %>
</p>

<p>
  <strong>Water g:</strong>
  <%= @nutrition_datum.water_g %>
</p>

<p>
  <strong>Kilojoules kj:</strong>
  <%= @nutrition_datum.kilojoules_kj %>
</p>

<p>
  <strong>Kilocalories kcal:</strong>
  <%= @nutrition_datum.kilocalories_kcal %>
</p>

<p>
  <strong>Fat g:</strong>
  <%= @nutrition_datum.fat_g %>
</p>

<p>
  <strong>Sat fa g:</strong>
  <%= @nutrition_datum.sat_fa_g %>
</p>

<p>
  <strong>Trans fa g:</strong>
  <%= @nutrition_datum.trans_fa_g %>
</p>

<p>
  <strong>Mu fa g:</strong>
  <%= @nutrition_datum.mu_fa_g %>
</p>

<p>
  <strong>Pu fa g:</strong>
  <%= @nutrition_datum.pu_fa_g %>
</p>

<p>
  <strong>Cholesterol mg:</strong>
  <%= @nutrition_datum.cholesterol_mg %>
</p>

<p>
  <strong>Carbo g:</strong>
  <%= @nutrition_datum.carbo_g %>
</p>

<p>
  <strong>Starch g:</strong>
  <%= @nutrition_datum.starch_g %>
</p>

<p>
  <strong>Mono di g:</strong>
  <%= @nutrition_datum.mono_di_g %>
</p>

<p>
  <strong>Sugar g:</strong>
  <%= @nutrition_datum.sugar_g %>
</p>

<p>
  <strong>Dietary fibre:</strong>
  <%= @nutrition_datum.dietary_fibre %>
</p>

<p>
  <strong>Protein g:</strong>
  <%= @nutrition_datum.protein_g %>
</p>

<p>
  <strong>Salt g:</strong>
  <%= @nutrition_datum.salt_g %>
</p>

<p>
  <strong>Alcohol g:</strong>
  <%= @nutrition_datum.alcohol_g %>
</p>

<p>
  <strong>Retinol mg:</strong>
  <%= @nutrition_datum.retinol_mg %>
</p>

<p>
  <strong>Beta carotene mg:</strong>
  <%= @nutrition_datum.beta_carotene_mg %>
</p>

<p>
  <strong>Vitamin a are:</strong>
  <%= @nutrition_datum.vitamin_a_are %>
</p>

<p>
  <strong>Vitamin d mg:</strong>
  <%= @nutrition_datum.vitamin_d_mg %>
</p>

<p>
  <strong>Vitamin e alfa te:</strong>
  <%= @nutrition_datum.vitamin_e_alfa_te %>
</p>

<p>
  <strong>Thiamin mg:</strong>
  <%= @nutrition_datum.thiamin_mg %>
</p>

<p>
  <strong>Riboflavin mg:</strong>
  <%= @nutrition_datum.riboflavin_mg %>
</p>

<p>
  <strong>Niacin mg:</strong>
  <%= @nutrition_datum.niacin_mg %>
</p>

<p>
  <strong>Vitamin b6 mg:</strong>
  <%= @nutrition_datum.vitamin_b6_mg %>
</p>

<p>
  <strong>Folate mg:</strong>
  <%= @nutrition_datum.folate_mg %>
</p>

<p>
  <strong>Vitamin b12 mg:</strong>
  <%= @nutrition_datum.vitamin_b12_mg %>
</p>

<p>
  <strong>Vitamin c mg:</strong>
  <%= @nutrition_datum.vitamin_c_mg %>
</p>

<p>
  <strong>Calcium mg:</strong>
  <%= @nutrition_datum.calcium_mg %>
</p>

<p>
  <strong>Iron mg:</strong>
  <%= @nutrition_datum.iron_mg %>
</p>

<p>
  <strong>Sodium mg:</strong>
  <%= @nutrition_datum.sodium_mg %>
</p>

<p>
  <strong>Potassium mg:</strong>
  <%= @nutrition_datum.potassium_mg %>
</p>

<p>
  <strong>Magnesium mg:</strong>
  <%= @nutrition_datum.magnesium_mg %>
</p>

<p>
  <strong>Zinc mg:</strong>
  <%= @nutrition_datum.zinc_mg %>
</p>

<p>
  <strong>Selenium mg:</strong>
  <%= @nutrition_datum.selenium_mg %>
</p>

<p>
  <strong>Copper mg:</strong>
  <%= @nutrition_datum.copper_mg %>
</p>

<p>
  <strong>Phosphorus mg:</strong>
  <%= @nutrition_datum.phosphorus_mg %>
</p>

<p>
  <strong>Iodine mg:</strong>
  <%= @nutrition_datum.iodine_mg %>
</p>

<%= link_to 'Edit', edit_nutrition_datum_path(@nutrition_datum) %> |
<%= link_to 'Back', nutrition_data_path %>
